<head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="names">
      <h2>Womble Names</h2>
      <p>
        Name1: {{name}}
      </p>
    </div>
    <button type="button" name="delete">Delete Womble</button>
  </body>
